h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.landing-container {
  max-width: 1200px;
}

.landing-page-logo {
  height: 40px;
}

@media (max-width: 400px) {
  .landing-page-logo {
    height: 30px;
  }
}

.cta-button {
  padding: 17px 50px;
  height: 50px;
  background: #3fbbf1;
  color: white !important;
  position: relative;
  z-index: 1000;
}

.no-credit-card-needed {
  display: initial;
  color: black;
  font-weight: 600;
  font-size: 16px;
  margin-left: 16px;
}

.support-integration {
  font-size: 18px;
}

.support-by img {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 641px) {
  .uptracker-hero-illustration {
    margin-top: -32px;
  }

  .feature-section-inner {
    padding-top: 60px;
  }

  .support-integration .section-inner {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .main-page {
    padding-bottom: 20px;
  }
}

.tables-extended {
  margin-top: 72px;
}

.app-right-choice {
  margin-right: 24px;
}

@media (max-width: 645px) {
  .site-footer-inner {
    padding-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .uptracker-hero-illustration {
    margin-top: 32px;
    padding-bottom: 32px;
  }

  .section-inner {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  * {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
  }

  * {
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
  }

  * {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  .tables-extended {
    margin-top: 0px;
  }

  .app-right-choice {
    margin-right: 0px;
  }

  .no-credit-card-needed {
    display: block;
    margin-left: 0;
  }

  .hero-inner {
    flex-direction: column;
  }

  .hero-inner iframe {
    height: 300px;
  }
}

.why-this-app {
  width: 300px;
}

.about-app-header img {
  height: 70px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.app-container {
  width: 276px;
  max-width: 276px;
}

.pricing .title-pricing {
  margin-bottom: 16px;
}

.why-this-app-detail {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  height: 100%;
}

.feature-image img {
  max-width: 500px;
}

.hero-copy {
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .multiple-source-img {
    height: auto;
  }
}

@media (min-width: 1025px) {
  .app-feature {
    padding: 0;
  }

  .feature-image {
    padding: 0;
  }

  .feature-body-left {
    padding: 0 130px 0px 0px;
  }

  .feature-body-right {
    padding: 0 0px 0px 130px;
  }

  .hero-copy {
    width: 60%;
  }

  .hero-illustration.uptracker-hero-illustration {
    width: 40%;
  }

  .hero-inner iframe {
    height: 350px;
  }

  .hero-inner {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .hero-inner {
    display: block;
  }
}

.price {
  color: #1d2b4c;
}

@media (min-width: 800px) {
  .grid-container-suppliers {
    display: grid;
    grid-gap: 15px 10px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 799px) and (min-width: 600px) {
  .grid-container-suppliers {
    display: grid;
    grid-gap: 15px 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-illustration.uptracker-hero-illustration {
    margin-top: 40px;
  }

  .hero-inner {
    flex-direction: column;
  }

  .hero-inner iframe {
    height: 400px;
  }
}

.app-title {
  font-size: 25px;
}

.trial-or-free {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

.app-brief-desc {
  color: #637381;
  font-size: 17px;
}

.link-to-app {
  color: #5b6a87;
}

.link-to-app:hover {
  text-decoration: none;
}

.link-to-app:hover img {
  box-shadow: 0px 0px 10px 1px #919ea9;
}

.link-to-app:hover .pricing-table-title {
  color: #5c6ac4;
}

.app-header img {
  border-radius: 10%;
  height: 95px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 16px 24px #e7ebf6;
}

.app-detail {
  font-size: 16px;
  margin-bottom: 8px;
}

.tagline {
  display: inline-grid;
}

.share-links {
  margin-bottom: 0;
}

.sub-links {
  margin-bottom: 15px;
}

.share-on {
  margin-top: 5px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pricing-table {
  padding: 12px 18px;
}

@media (min-width: 600px) and (max-width: 999px) {
  .grid-container {
    display: grid;
    grid-gap: 15px 10px;
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1000px) {
  .grid-container {
    display: grid;
    grid-gap: 15px 10px;
    grid-template-columns: auto auto auto;
  }

  .grid-item {
    width: 350px;
  }
}

.hero-paragraph-description {
  margin-bottom: 60px;
}

.app-description {
  margin-bottom: 60px;
  text-align: center;
}

@media (max-width: 768px) {
  .app-description {
    margin: 0px 16px 50px 16px;
  }
}

.login-button {
  display: inline;
  color: #68b8ee !important;
  background: white;
  border-radius: 10em;
  border: 1px solid #68b8ee;
  padding: 7px 26px;
}

.login-button:hover {
  color: white !important;
  background: #68b8ee;
  transition: 0.15s linear;
}

.bigcommerce-logo {
  margin: 0 auto;
  position: relative;
  margin-top: -150px;
  height: 550px;
}

.error-message {
  color: red;
  text-align: left;
}

.contact-us-form {
  font-size: 15px;
  padding: 5px;
  outline: none;
  border: 1px solid #272f4c;
  border-radius: 4px;
}
