.landing-page-logo {
  height: 40px;
}

@media (max-width: 400px) {
  .landing-page-logo {
    height: 30px;
  }
}

@media (max-width: 645px) {
  .site-footer-inner {
    padding-bottom: 20px;
  }
}

.why-this-app {
  width: 300px;
  max-width: 300px;
}

.app-container {
  width: 276px;
  max-width: 276px;
}

.pricing .title-pricing {
  margin-bottom: 16px;
}

.tables-extended {
  margin-top: 72px;
}

.why-this-app-detail {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  height: 100%;
}

.price {
  color: #1d2b4c;
}

@media (min-width: 800px) {
  .grid-container-suppliers {
    display: grid;
    grid-gap: 15px 10px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 799px) and (min-width: 600px) {
  .grid-container-suppliers {
    display: grid;
    grid-gap: 15px 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.app-title {
  font-size: 18px;
}

.trial-or-free {
  color: #454f5b;
  font-size: 14px;
}

.app-brief-desc {
  color: #637381;
  font-size: 15px;
}

.link-to-app {
  color: #5b6a87;
}

.link-to-app:hover {
  text-decoration: none;
}

.link-to-app:hover img {
  box-shadow: 0px 0px 10px 1px #919ea9;
}

.link-to-app:hover .pricing-table-title {
  color: #5c6ac4;
}

.app-header img {
  border-radius: 10%;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 16px 24px #e7ebf6;
}

.app-detail {
  font-size: 16px;
  margin-bottom: 8px;
}

.tagline {
  display: inline-grid;
}

.share-links {
  margin-bottom: 0;
}

.sub-links {
  margin-bottom: 15px;
}

.share-on {
  margin-top: 5px;
}
